.App {
  margin: 0 auto;
  max-width: 425px;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.reel {
  margin-bottom: 24px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-base {
  background-color: #4b4b4b;
  display: flex;
  height: 80px;
}

.empty-gallery {
  text-align: center;
}
